table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  // tr:nth-child(even) {
  //   background-color: #ebe9e9;
  // }
  
  // tr:hover {
  //   background-color: #f1f1f1;
  // }
  
  td {
    vertical-align: top;
  }
  
  td:nth-child(3) {
    background-color: #ffcccc;
    color: #0f7ce1;
  }
  
  td:nth-child(4) {
    background-color: #ffeb99;
    color: #0f7ce1;
  }
  
  td:nth-child(5) {
    background-color: #ccffcc;
    color: #0f7ce1;
  }

  button , .button {
    padding: 5px 10px;
    background-color: rgb(255, 153, 0);
    color: #000716;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
    display: inline-block;
  }
  .file-input {
    display: none; /* Hide the actual file input */
  }
  .file-name {
    margin-left: 10px;
  }
  button:hover {
    background-color: #ec7211;
  }
  .button-delete , .button-delete:hover{
    background: transparent;
    text-decoration: underline;
    color: blue;
    font-size: 12px;
  }
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  h2{
    color: #232f3e;
  }
  h3 {
    color: #0972d3 !important;
  }
  .ulClass{
    margin-top: 0;
    list-style-type: none;
    padding-left: 5px;
  }
  .ticket-button{
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(51, 51, 51);
  }
  .ticket-button:hover{
    background-color: transparent;
  }
  .generate-button{
    background-color: rgb(255,216,20);
    color: #000716;
  }
  .generate-button:hover{
    background-color: rgb(243, 204, 11);
    color: #000716;
  }
  .generate-button:disabled{
    background-color: rgb(172, 144, 7);
    cursor: not-allowed;
  }
  .label-question{
    padding: 15px 0;
  }
  // loader css
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .container{
    padding: 12px;
}